<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.genuitec.eclipse.javascript.debug.core.jsStandaloneAppLaunchConfigurationType">
<stringAttribute key="jsAppLaunchingDelegateId" value="com.genuitec.eclipse.javascript.debug.nodejs.standalone"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/node_mine/node_mine/test1.js"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
</launchConfiguration>
